<mat-error *ngIf="!deleteSucces">
    <p>{{errorMessage}}</p>
</mat-error>


<mat-card *ngIf="game">
    <mat-card-header>
        <mat-card-title>{{game.title}}</mat-card-title>
        <mat-card-subtitle>By {{game.developer.name}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content >
    
            {{game.description}}
       
    </mat-card-content>
    <mat-card-actions *ngIf="isAuthorized">
        <button  class="btn btn-warning"  *ngIf="game" type="button" routerLink='edit'>Edit</button>
        <button   class="btn btn-danger"  *ngIf="game" type="button" (click)="onGameDelete()">Delete</button>
    </mat-card-actions>

    <hr style="background-color:white">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Reviews</p>
            </div>
            <div class="col-sm">
                <button style="background-color: #18BC9C" type="button" class="btn btn-success float-right" routerLink='review/new'>+</button>
            </div>
        </div>
    </div>


    <br>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let review of game.reviews" style="background-color:#18BC9C">
            <mat-expansion-panel-header>
                <mat-panel-title style="color:white; font-weight:700;">
                    {{review.title}}
                </mat-panel-title>
                <div style = "float:right">
                <mat-panel-description>
                    <ngb-rating style=color:white class='stars' [(rate)]="review.stars" ></ngb-rating>        
                </mat-panel-description>
                </div>
            </mat-expansion-panel-header>
            <p>{{review.description}}</p>
            
            <div *ngIf="review.author == currentUser">              
                <button class="btn btn-warning" *ngIf="game" [routerLink]="['review',review._id, 'edit']">Edit</button>
                <button  class="btn btn-danger" *ngIf="game"  (click)="onReviewDelete(review)">Delete</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</mat-card>